.header {
  align-items: center;
  background-color: #77002e;
  display: flex;
  height: 5rem;
  justify-content: space-between;
  padding: 0 10%;
  width: 100%;
}

.logo {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.header ul {
  align-items: baseline;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header li {
  margin-left: 3rem;
}

.header a {
  color: #fcb8d2;
  font-size: 1.5rem;
  text-decoration: none;
}

.header a:hover,
.header a:active,
.header a.active {
  color: white;
}
